body {
    font-family: Helvetica, sans-serif;
}

textarea {
    resize: none;
    width: 100%;
    width: 500px;
    height: 150px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
}

img {
    margin-top: 30px;
    max-width: 100%;
    border: 1px solid #000000;
}